.content{
    background: linear-gradient(to bottom, #052647 10%, #5d6972 90%);
    position: absolute;
    height: 100%;
    width: 100%;
}

.thermostats, .co-alarms, .cameras{
    display: none;
}
.home-name, .link-element, #ambient-temperature, .temperature-scale{
    font-family: 'LCDBOLD';
    color: #B4DEF6;
}

.nest-container {
    padding-right: 45%;
    padding-left: 4%;
    padding-top: 50px;
    background: linear-gradient(to bottom, #001122 0%, #052647  80%);
    position: relative;
}

#nest-image {
    background-image: url("/images/nest.svg");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}

.home-name {
    font-size: 22px;
}

.link-element {
    height: 5rem; 
    width: 30rem;
    background-repeat: no-repeat;
    padding-left: 6rem;
    padding-top: 1.5rem;
    position: relative;
}

.link-element:hover{
    cursor: pointer; 
    cursor: hand;
}

.homelogo{
    background-image: url("/images/house.svg");
    background-repeat: no-repeat;
    background-size: 4rem;
}

.awaylogo{
    background-image: url("/images/human.svg");
    background-repeat: no-repeat;
    background-size: 4rem;
}


.thermostat{
    color: #B4DEF6;
    font-family: 'LCDBOLD';
    font-size: 16px;
}
.thermostat:hover{
    cursor: pointer; 
    cursor: hand;
}

.thermostat-circle{
    background-image: url("/images/icon_puck_thermostat_circle.png");
    height: 400px;
    background-repeat: no-repeat;
}
