.content{
    background: linear-gradient(to bottom, #052647 10%, #5d6972 90%);
    position: absolute;
    height: 100%;
    width: 100%;
}

.thermostats, .co-alarms, .cameras{
    display: none;
    padding-left: 0px !important;
}

.home-name, .link-element, #logout, .thermostat, .nest-menu-container-title, .text-status{
    color: #B4DEF6;
    font-family: "Rokkitt";
    font-size: 16pt;
}

.text-status{
    color: #B4DEF6;
    font-family: "Rokkitt";
    font-size: 12pt;    
}
.nest-menu-container-title{
    padding-left: 60px;
}

#ambient-temperature, .temperature-scale{
    font-family: 'LCDBOLD';
    color: #B4DEF6;
}

#logout {
    float: left;
    width: 95%;
    text-align: right;
}

.nest-container {
    /* padding-right: 45%; */
    padding-left: 65px;
    padding-top: 50px;
    background: linear-gradient(to bottom, #001122 0%, #052647 80%);
    position: relative;
}

#nest-image {
    background-image: url("/images/nest.svg");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}

.home-container{
    padding-left: 0px !important;
    padding-bottom: 20px;
}

.home-name {
    font-size: 22px;
    padding-top: 25px;
}

.link-element {
    height: 5rem; 
    width: 30rem;
    background-repeat: no-repeat;
    padding-left: 6rem;
    padding-top: 1.5rem;
    position: relative;
}

.link-element:hover{
    cursor: pointer; 
    cursor: hand;
    color: white
}

.homelogo{
    background-image: url("/images/house.svg");
    background-repeat: no-repeat;
    background-size: 4rem;
}

.homelogo:hover{
    background-image: url("/images/houseonhover.svg");
    background-repeat: no-repeat;
    background-size: 4rem;
}

.homelogo.chosen{
    background-image: url("/images/houseonhover.svg");
    background-repeat: no-repeat;
    background-size: 4rem;
}

.awaylogo{
    background-image: url("/images/human.svg");
    background-repeat: no-repeat;
    background-size: 4rem;
}

.awaylogo:hover{
    background-image: url("/images/humanonhover.svg");
    background-repeat: no-repeat;
    background-size: 4rem;
}

.awaylogo.chosen{
    background-image: url("/images/humanonhover.svg");
    background-repeat: no-repeat;
    background-size: 4rem;
}

.thermostat {
    font-size: 14pt;
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: url("/images/leaf.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left;
}

.thermostat:hover, #logout:hover{
    cursor: pointer; 
    cursor: hand;
    color: white;
}

.thermostat-circle{
    background-image: url("/images/icon_puck_thermostat_circle.png");
    height: 400px;
    background-repeat: no-repeat;
}

.chosen {
    color: white;
}