#cooling-up-button {
  top: 40px;
}

#cooling-down-button {
  top: 90px;
}


#screen {
    font-family: 'LCDBOLD';
    padding-top: 105px;
    height: 254px;
}

.home{
    padding-left: 52px;
}

.away {
    padding-left: 90px;
}

#target-temperature {
  font-size: 50pt;
}

#target-temperature .away {
  display: block;
}

#target-temperature.home .away {
  display: none;
}

#target-temperature .home {
  display: none;
}

#target-temperature.home .home {
  display: inline;
}

#target-temperature .hvac-mode {
    font-size: 10pt;
    padding-left: 50px;
}

#ambient-temperature {
    position: absolute;
    top: 10px;
    left: 285px;
    width: 70px;
    font-size: 20pt;
}

#ambient-temperature .label {
  position: absolute;
  top: 35px;
  font-size: 10pt;
  display: block;
}

.button-list{
    padding-left: 138px;
}